:root {
  --first-color: #ffffff;
  --second-color: #212121;
  --third-color: #757575;
  --accent-color: #2196f3;
  --background-button: #f5f4fa;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --background-first: #2f303a;
  --background-second: #e5e5e5;
  --logo-color: #000000;
  --hover-color: #188ce8;
  --icon-color: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--second-color);
}
button {
  cursor: pointer;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* -----------Logo---------------- */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-logo-first {
  color: var(--accent-color);
  margin-right: 93px;
}
.header-logo-second {
  color: var(--logo-color);
}

.footer-logo-first {
  color: var(--accent-color);
}
.footer-logo-second {
  color: var(--first-color);
}
/* -----------------Header-------------- */
.current-link {
  color: var(--accent-color);
}
.header {
  background-color: var(--first-color);
  border-bottom: 1px solid #ececec;
  width: 100%;
}
.header-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header-link:hover,
.header-link:focus,
.current {
  color: var(--accent-color);
}
.header-link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -1px;
}
.header-contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--third-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts:focus,
.header-contacts:hover {
  color: var(--accent-color);
}
.header-navi {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
}

.contact-list {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}
.header-list {
  display: flex;
}
.header-item {
  display: block;
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0;
}
.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.contact-item:last-child {
  margin-right: 0px;
}
.contact-item-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* -------------- Footer -------------------  */
.footer-main {
  background-color: var(--background-first);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer-contacts {
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--contacts-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
.footer-address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}
.footer-all {
  display: flex;
  align-items: baseline;
}
.footer-join {
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-left: 70px;
}
.footer-join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
  justify-content: center;
}
.footer-social-item {
  width: 44px;
  height: 44px;
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.footer-social-icon {
  fill: var(--first-color);
}
.mailing {
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-left: 93px;
}
.mailing-forms {
  display: flex;
}
.mailing-forms:hover, .mailing-forms:focus {
  color: var(--accent-color);
}
.mailing-title {
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--first-color);
margin-bottom: 20px;
}


.mailing-text {
  border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
padding: 15px 16px;
background-color: transparent;
width: 358px; 
color: var(--first-color);

}
.mailing-text::placeholder {
  width: 358px;
  height: 50px;
  font-size: 16px;
line-height: 1.25;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

}
.mailing-btn {
  display: flex;
  justify-content: center;
  align-items: center;
padding: 10px 28px;
  font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--first-color);
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
background: var(--accent-color);



margin-left: 12px;
}
.send-icon {
  margin-left: 10px;
}


/*-------------- Main section -------------*/
.main-work {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.main-container {
  width: 696px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 30px;
}
.main-btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  display: inline-block;
  border: none;
  border-radius: 4px;

  max-height: 50px;
  color: var(--first-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-btn:hover,
.main-btn:focus {
  background-color: var(--hover-color);
  color: var(--first-color);
}

/* --------- Features section ---------- */
.features {
  background-color: var(--first-color);
}
.features-icon-list {
  display: flex;
  justify-content: center;
}
.features-icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-button);
  margin-bottom: 30px;
}
.features-icon-item + .features-icon-item {
  margin-left: 30px;
}
.features-list {
  display: flex;
}
.features-item {
  max-width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-func {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 10px;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
}


/* ----------- About ------------ */

.about {
  background-color: var(--first-color);
  padding-top: 0;
}
.about-list {
  display: flex;
}
.about-item {
  position: relative;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-color);
  margin-bottom: 50px;
}

.about-top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  background-color: rgba(47, 48, 58, 0.8);

  position: absolute;
  bottom: 0;
}

/* --------------- Team ------------- */
.team {
  background-color: var(--background-button);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--second-color);
  margin-bottom: 50px;
}
.team-card {
  background-color: var(--first-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 30px 32px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.team-personal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-color);

  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--third-color);
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  /* padding-left: 32px;
  padding-right: 32px; */
}
.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--first-color);
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--first-color);
}
.team-social-icon {
  fill: currentColor;
}

/* --------------- CLIENT ------------------- */

.client-title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  justify-content: center;
}
.client-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
}
.client-item + .client-item {
  margin-left: 30px;
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon {
  fill: currentColor;
}
.client-link:focus,
.client-link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* --------------- PORTFOLIO----------------- */

/* -----------------Filter------------------ */
.filter {
  background-color: var(--first-color);
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.work-item-wrap {
  position: relative;
  overflow: hidden;
}
.work-top-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--first-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
  overflow: auto;
}
.work-focus-link:hover .work-top-text,
.work-focus-link:focus .work-top-text {
  transform: translateY(0);
}

.work-focus-link {
  display: block;
  border: 1px solid rgba(238, 238, 238, 1)
  background-color: var(--first-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-focus-link:hover,
.work-focus-link:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  opacity: 1;
  }
.filter-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--background-button);
  color: var(--second-color);
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:last-child {
  margin-right: 0;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--first-color);
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.current-btn {
  background-color: var(--accent-color);
  color: var(--first-color);
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-about {
  
  box-sizing: border-box;
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: none;
}
.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--second-color);
}
.work-text {
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;
  color: var(--third-color);
}

/* -------------------------------- MODAL DROP WINDOW ----------------------- */

.dropwindow {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms, visibility 250ms;
}
.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--first-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 40px;
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-icon:hover, .close-icon:focus {
  fill: var(--accent-color);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-title {
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--second-color);
margin-bottom: 12px;


}
.modal-form-field {
  margin-bottom: 10px;
  
}
.input-modal-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  
  padding-left: 42px;
  padding-right: 16px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus, .modal-input:hover {
  border-color: var(--accent-color);
}
.modal-input:focus + .input-icon, .modal-input:hover + .input-icon {
  fill: var(--accent-color);
}

.form-btn {
display: block;
margin: 0 auto;
padding: 10px 56px;
}
.modal-input-text {
  display: block;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: var(--third-color);
margin-bottom: 4px;
}
.modal-text-area {
width: 100%;
height: 120px;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
padding: 12px 16px;
outline: none;

resize: none;
}
.modal-text-area::placeholder {
  font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}
.modal-check-text {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--third-color);
display: flex;
position: relative;
align-items: center;
}
.modal-check-text span {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 7px;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;

}
.modal-check:checked + .modal-check-text span {
  background-color: var(--accent-color);
  border: none;
}
.icon-check {
  fill: var(--first-color);
}
.modal-check-link {
color: var(--accent-color);
text-decoration-line: underline;
}